@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  display: block;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 2rem;
  position: relative;
}
nav .shape {
  width: 25px;
  height: 25px;
  background-color: #20bf6b;
  border-radius: 50px;
  position: absolute;
  right: 75px;
  top: 50px;
  animation: 3s float ease-in-out infinite;
}
nav .shape:before {
  content: '';
  width: 30px;
  height: 15px;
  background-color: #f7b731;
  position: absolute;
  left: 20px;
  top: -30px;
  animation: 6s flote ease-in-out infinite;
}
nav .shape:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #4b7bec;
  position: absolute;
  left: 40px;
  top: 5px;
  animation: 6s float ease-in-out infinite;
}

nav .logo {
  padding: .4rem .3rem;
  background-color: #4b7bec;
  border-radius: 50px;
  animation: float 5s ease-in-out infinite;
  position: relative;
}
nav .logo img {
  height: 50px;
  filter: invert(100%);
}
nav .logo:before {
  content: '';
  width: 35px;
  height: 35px;
  background-color: #eb3b5a;
  position: absolute;
  right: -45px;
  top: 10px;
  animation: 4s flotes ease-in-out infinite;
}
nav .logo:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #8854d0;
  position: absolute;
  left: -30px;
  top: 50px;
  animation: 3s float ease-in-out infinite;
}

nav .shape2 {
  width: 40px;
  height: 40px;
  background-color: #20bf6b;
  border-radius: 50px;
  position: absolute;
  left: 85px;
  top: 10px;
  animation: 4s float ease-in-out infinite;
}
nav .shape2:before {
  content: '';
  width: 35px;
  height: 25px;
  background-color: #eb3b5a;
  position: absolute;
  right: 65px;
  top: 40px;
  animation: 5s flote ease-in-out infinite;
}
nav .shape2:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fa8231;
  position: absolute;
  left: -30px;
  top: 0px;
  animation: 6s flotes ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes flote {
  0% {
    transform: translateY(0px)rotate(0deg);
  }
  25% {
    transform: translateY(-10px)rotate(90deg);
  }
  50% {
    transform: translateY(0px)rotate(180deg);
  }
  75% {
    transform: translateY(-5px)rotate(270deg);
  }
  100% {
    transform: translateY(0px)rotate(360deg);
  }
}
@keyframes flotes {
  0% {
    transform: translateY(0px)rotate(360deg);
  }
  25% {
    transform: translateY(-10px)rotate(270deg);
  }
  50% {
    transform: translateY(0px)rotate(180deg);
  }
  75% {
    transform: translateY(-5px)rotate(90deg);
  }
  100% {
    transform: translateY(0px)rotate(0deg);
  }
}

hr {
  border: .1px solid lightgrey;
  margin: 1.5rem 1rem .5rem;
}

.title {
  text-align: center;
  margin: .5rem;
}

.back {
  margin: 0 1rem .5rem;
  display: flex;
}
.back img {
  margin-right: .3rem;
  transform: rotate(180deg);
}

.customercart {
  padding: .5rem 1rem;
}
.customercart #show-carth {
  list-style-type: none;
  max-height: 280px;
  overflow-y: scroll;
}
.customercart #show-carth li {
  margin: 0 0 .5rem;
}
.customercart #show-carth li .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customercart #show-carth li .group .name {
  padding: .5rem;
  background-color: #4b7bec;
  color: white;
  border-radius: 10px;
}
.customercart #show-carth li .group .name .qyt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.customercart #show-carth li .group .name .qyt input {
  width: 20px;
  background-color: transparent;
  border: 0px;
  outline: none;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}
.customercart #show-carth li .group .action button {
  padding: .5rem;
  background-color: #eb3b5a;
  color: white;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.customercart .finaltotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customercart .taxdisc {
  font-size: .8rem;
}
.customercart .taxdisc p {
  margin: 0 0 .5rem;
}
.customercart .taxdisc p:nth-child(3) {
  margin: 0 0 .1rem;
}
.customercart .taxdisc .wrap {
  display: flex;
  align-items: center;
}
.customercart .taxdisc #voucherinput {
  padding: .5rem;
  font-size: .8rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  outline: none;
  width: 100px;
}
.customercart .taxdisc #discountfix {
  padding: .5rem;
  font-size: .8rem;
  background-color: #eb3b5a;
  color: white;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-left: .2rem;
}

.customercart .finaltotal h3:before {
  content: "Rp ";
}

.customercart .finaltotal .totalprice {
  padding: .5rem;
  background-color: #20bf6b;
  color: white;
  border-radius: 10px;
}